body { 
  background: #333333; 
}

html,body { 
  height:100%; 
  padding:0; 
  margin:0; 
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../../assets/fonts/Ubuntu.ttf');
	font-weight: normal;
	font-style: normal;
}

.absolute {
  position: absolute !important;
  z-index: 11111111 !important;
}

img.center {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

.tooltip {
  position: fixed;
  z-index: 9999999999;
  font-size: 15px;
}

.fa-menusize {
  font-size: 1.8rem !important;
}

.fa-min {
  font-size: 1.1rem !important;
}

.borderradius { 
  border-radius: 4px !important;
}

.mainContainer { 
  width: 1260px !important; 
  max-width: 1260px !important; 
  min-width: 1260px !important;
  min-height: 680px !important;
  overflow: visible !important;
}

.widCol1 { 
  width: 80px !important; 
  max-width: 80px !important; 
  min-width: 80px !important; 
}

.widCol2 { 
  width: 1190px !important; 
  max-width: 1190px !important; 
  min-width: 1190px !important; 
}

.minHeight { min-height: 700px !important; }

.ss-main .ss-multi-selected .ss-values .ss-disabled {
    color: #7b7b7b  !important; 
}

.dataTables_length { 
  margin: 4px !important;
}

.dataTables_filter { 
  margin: 4px !important;
}

.dataTables_info { 
  margin: 4px !important;
}

.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.8em !important;
  color: black !important;
  background-color: none !important;
  border: none !important;
}

.paging_full_numbers a.paginate_button, .paging_full_numbers {
  color: black !important;
  background-color: white !important;
}

a.paginate_active {
  color: #595757 !important;
  background-color: #c6c5c6 !important;
}

.box500 { height: 500px; overflow: auto; border: 1px solid grey; }
.box400 { height: 400px; overflow: auto; border: 1px solid grey; }
.box350 { height: 350px; overflow: auto; border: 1px solid grey; }
.box300 { height: 300px; overflow: auto; border: 1px solid grey; }
.box260 { height: 260px; overflow: auto; border: 1px solid grey; }
.box230 { height: 230px; overflow: auto; border: 1px solid grey; }
.box200 { height: 200px; overflow: auto; border: 1px solid grey; }

.wid450 { width: 450px !important; }
.wid350 { width: 350px !important; }
.wid290 { width: 290px !important; }
.wid230 { width: 230px !important; }
.wid200 { width: 200px !important; }
.wid180 { width: 180px !important; }
.wid160 { width: 160px !important; }
.wid140 { width: 140px !important; }
.wid130 { width: 130px !important; }
.wid120 { width: 120px !important; }
.wid110 { width: 110px !important; }
.wid95 { width: 95px !important; }
.wid70 { width: 70px !important; }
.wid60 { width: 60px !important; }
.wid50 { width: 50px !important; }
.wid40 { width: 40px !important; }

.max150 { 
  max-width: 150px !important;
  max-height: 150px !important;
}

.wrap {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 130px !important;
  width: 130px !important;
}

.filena { 
  text-align: center;
  padding: 1px; 
  margin: 7px; 
}

.visfile { border: 1px yellow solid; min-height: 600px; }

.img_container {
  max-width: 39px !important;
  min-width: 39px !important;  
  width: 39px !important;
  max-height: 39px !important;
  min-height: 39px !important;  
  height: 39px !important;
  margin: auto;
  width: 50%;
}

.login_text { 
  color: #efefef !important;
  text-shadow: 0 0 2px #000;
}

.pad_top_bot { 
  padding-top: 10px !important;
  padding-bottom: 23px !important;
}

img .img_file_view {
  max-width: 36px !important; 
  max-height: 36px !important;  
}

table { table-layout:fixed !important; }
.div-table-content { height:250px; overflow-y:auto; }

.textder { text-align: right !important; }
.textcent { text-align: center !important; }

.wPa { position:relative; width:633px; height:678px; padding:20px; margin:20px; z-index:99; } 

.texcor {
    overflow:hidden !important;
    white-space:nowrap !important;
    text-overflow: ellipsis !important;
}
 
.text_underline {
    text-decoration: underline;
}

.fonsi46  {  font-size: 46px !important;  }
.fonsi36  {  font-size: 36px !important;  }
.fonsi26  {  font-size: 26px !important;  }
.fonsi23  {  font-size: 23px !important;  }
.fonsi20  {  font-size: 20px !important;  }
.fonsi18  {  font-size: 18px !important;  }
.fonsi16  {  font-size: 16px !important;  }
.fonsi15  {  font-size: 15px !important;  }
.fonsi14  {  font-size: 14px !important;  }
.fonsi13  {  font-size: 13px !important;  }
.fonsi12  {  font-size: 12px !important;  }
.fonsi11  {  font-size: 11px !important;  }
.fonsi10  {  font-size: 10px !important;  }

.fontwe4 {  font-weight: 400;  }

.martopbo { margin-top: 140px; margin-bottom: 55px; }
.marbot { margin-top: 140px; }

.btnbig { 
  font-size: 24px;
  line-height: 1.4;
  border-radius: 6px !important;
  padding: 10px 71px; 
}

.btnCustom {
  color: #f4f2f2;
  background-color: #9d339c;
  border-color: #7e08b5;
}

.btn-group {
  margin-left: 5px !important;
}

.border2px { border: 2px solid #0cedde; }

.topboxshadow { -webkit-box-shadow: 0px -8px 11px 1px rgba(0,0,0,0.75); -moz-box-shadow: 0px -8px 11px 1px rgba(0,0,0,0.75); box-shadow: 0px -8px 11px 1px rgba(0,0,0,0.75); }

.bgcua { 
background: -moz-linear-gradient(45deg,  rgba(14,14,14,0.32) 0%, rgba(65,66,65,0.32) 46%, rgba(125,126,125,1) 100%);
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(14,14,14,0.32)), color-stop(46%,rgba(65,66,65,0.32)), color-stop(100%,rgba(125,126,125,1)));
background: -webkit-linear-gradient(45deg,  rgba(14,14,14,0.32) 0%,rgba(65,66,65,0.32) 46%,rgba(125,126,125,1) 100%);
background: -o-linear-gradient(45deg,  rgba(14,14,14,0.32) 0%,rgba(65,66,65,0.32) 46%,rgba(125,126,125,1) 100%);
background: -ms-linear-gradient(45deg,  rgba(14,14,14,0.32) 0%,rgba(65,66,65,0.32) 46%,rgba(125,126,125,1) 100%);
background: linear-gradient(45deg,  rgba(14,14,14,0.32) 0%,rgba(65,66,65,0.32) 46%,rgba(125,126,125,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#520e0e0e', endColorstr='#7d7e7d',GradientType=1 );
}

.bgtra  { background-color: rgba(232, 231, 231, 0.66); }
.bggrey { background-color: rgb(213, 213, 213); }
.bggreyblack { background: #333333 !important; }
.bgblack { background-color: black !important; }
.bgwi { background-color: white !important; }

.bglogo { background-color: rgb(94, 76, 76) !important; }

h1 small, h5 small {
 color: #f04f4f !important; 
}

.logo  {
 background-color: rgba(0, 0, 0, 0.66); 
}

.mar4 { margin: 4px; }
.mar10 { margin: 10px; }
.mar20 { margin: 20px; }
.mar30 { margin: 30px; }
.mar40 { margin: 40px; }
.mar50 { margin: 50px; }
.mar60 { margin: 60px; }
.mar70 { margin: 70px; }

.pad2 { padding: 2px; }
.pad4 { padding: 4px; }
.pad6 { padding: 6px; }
.pad8 { padding: 8px; }
.pad10 { padding: 10px; }
.pad20 { padding: 20px; }
.pad30 { padding: 30px; }
.pad40 { padding: 40px; }
.pad60 { padding: 60px; }
.pad80 { padding: 80px; }
.pad110 { padding: 110px; }

.padleft5 { padding-left: 5px; }
.padleft11 { padding-left: 11px; }

.fonbla { color: white !important; }
.fuengrisoscu { color: rgb(20, 20, 20); }

.textshadow { text-shadow:  2px 2px 0px #000; }

.rowcentered {
    text-align:center;
}
.colcentered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.label {
  white-space: normal !important;
}

fieldset{
  min-width:0;
  margin:0;
  padding: 10px !important;
  border: 1px groove #f4b940 !important;
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  background-color: #f7f7f7;
}

legend{
  display:block;
  width:100%;
  padding: 5px !important;
  margin-bottom:10px;
  font-size:15px;
  line-height:inherit;
  color:#333;
  border:0;
  border-bottom:1px solid #f4b940
}

td a, li a {
  color: #333232 !important;
  text-decoration: none !important;
  background-color: #e2e2e2 !important;
}

td a:hover {
  color: #e2e2e2 !important;
  text-decoration: none !important;
  background-color: #333232 !important;
}

.nav>li>a{
  position:relative;
  display:block;
  padding:10px 15px;
  border-bottom: 2px solid white !important;
}

.nav>li>a:focus,.nav>li>a:hover{
  text-decoration: none;
  border-bottom: 2px solid #06fbbe !important;
  background-color: #0000008c !important;
  color: #e7e7e7 !important;
}

.navbar {
  position:relative !important;  
  min-height:50px !important;  
  margin-bottom:20px !important;  
  border-radius: 4px !important;  
  border:2px solid transparent !important;  
}

.navbar-default{
  background-color:#f8f8f8 !important;
  border-color:#8a8989 !important;
}

.navbar-default .navbar-brand{
  color: #FFF;
}

.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover{
  color:#5e5e5e !important;
  background-color:transparent !important;
}

.navbar-default .navbar-text{
  color:#777 !important;
}

.navbar-default .navbar-nav>li>a{
  color:#FFF;
  background-color: rgb(0, 0, 0);
}

.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{
  color: #FFF;
  background-color: #525655;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover{
  color:#555;
  background-color:#e7e7e7
}

.navbar-default .navbar-nav>.disabled>a,.navbar-default .navbar-nav>.disabled>a:focus,.navbar-default .navbar-nav>.disabled>a:hover{
  color:#ccc;
  background-color:transparent
}

.navbar-default .navbar-toggle{
  border-color:#ddd
}

.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover{
  background-color:#ddd
}

.navbar-default .navbar-toggle .icon-bar{
  background-color:#888
}

.navbar-default .navbar-collapse,.navbar-default .navbar-form{
  border-color:#e7e7e7
}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover{
  color:#555;
  background-color:#e7e7e7
}

