body { background: #333333; }

html,body { height:100%; padding:0; margin:0; }

@font-face {
	font-family: 'Ubuntu';
	src: url('Ubuntu.ttf');
	font-weight: normal;
	font-style: normal;
}

.box500 { height: 500px; overflow: auto; border: 1px solid grey; }
.box400 { height: 400px; overflow: auto; border: 1px solid grey; }
.box350 { height: 350px; overflow: auto; border: 1px solid grey; }
.box300 { height: 300px; overflow: auto; border: 1px solid grey; }
.box260 { height: 260px; overflow: auto; border: 1px solid grey; }
.box230 { height: 230px; overflow: auto; border: 1px solid grey; }
.box200 { height: 200px; overflow: auto; border: 1px solid grey; }

.wid290 { width: 290px !important; }
.wid230 { width: 230px !important; }
.wid180 { width: 180px !important; }
.wid140 { width: 140px !important; }
.wid110 { width: 110px !important; }
.wid95 { width: 95px !important; }
.wid70 { width: 70px !important; }
.wid50 { width: 50px !important; }

table { table-layout:fixed !important; }
.div-table-content { height:250px; overflow-y:auto; }

.textder { text-align: right !important; }
.textcent { text-align: center !important; }

.container {
  width: 1230px !important;
  max-width: 1280px !important;
  min-width: 1230px !important;
  overflow: visible !important;
}

.wPa { position:relative; width:633px; height:678px; padding:20px; margin:20px; z-index:99; } 

.texcor {
    overflow:hidden !important;
    white-space:nowrap !important;
    text-overflow: ellipsis !important;
}
 
.fonsi46  {  font-size: 46px;  }
.fonsi36  {  font-size: 36px;  }
.fonsi26  {  font-size: 26px;  }
.fonsi23  {  font-size: 23px;  }
.fonsi20  {  font-size: 20px;  }
.fonsi18  {  font-size: 18px;  }
.fonsi16  {  font-size: 16px;  }
.fonsi14  {  font-size: 14px;  }

.fontwe4 {  font-weight: 400;  }

.martopbo { margin-top: 140px; margin-bottom: 55px; }
.marbot { margin-top: 140px; }

.btnbig { 
font-size: 24px;
line-height: 1.4;
border-radius: 6px !important;
padding: 10px 71px; 
}

.border2px { border: 2px solid #0cedde; }

.topboxshadow { -webkit-box-shadow: 0px -8px 11px 1px rgba(0,0,0,0.75); -moz-box-shadow: 0px -8px 11px 1px rgba(0,0,0,0.75); box-shadow: 0px -8px 11px 1px rgba(0,0,0,0.75); }

.bgcua { 
background: -moz-linear-gradient(45deg,  rgba(14,14,14,0.32) 0%, rgba(65,66,65,0.32) 46%, rgba(125,126,125,1) 100%);
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(14,14,14,0.32)), color-stop(46%,rgba(65,66,65,0.32)), color-stop(100%,rgba(125,126,125,1)));
background: -webkit-linear-gradient(45deg,  rgba(14,14,14,0.32) 0%,rgba(65,66,65,0.32) 46%,rgba(125,126,125,1) 100%);
background: -o-linear-gradient(45deg,  rgba(14,14,14,0.32) 0%,rgba(65,66,65,0.32) 46%,rgba(125,126,125,1) 100%);
background: -ms-linear-gradient(45deg,  rgba(14,14,14,0.32) 0%,rgba(65,66,65,0.32) 46%,rgba(125,126,125,1) 100%);
background: linear-gradient(45deg,  rgba(14,14,14,0.32) 0%,rgba(65,66,65,0.32) 46%,rgba(125,126,125,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#520e0e0e', endColorstr='#7d7e7d',GradientType=1 );
}

.bgtra  { background-color: rgba(0, 0, 0, 0.66); }

.mar4 { margin: 4px; }
.mar10 { margin: 10px; }
.mar20 { margin: 20px; }
.mar30 { margin: 30px; }
.mar40 { margin: 40px; }
.mar50 { margin: 50px; }
.mar60 { margin: 60px; }
.mar70 { margin: 70px; }

.pad4 { padding: 4px; }
.pad10 { padding: 10px; }
.pad20 { padding: 20px; }
.pad30 { padding: 30px; }
.pad40 { padding: 40px; }
.pad60 { padding: 60px; }
.pad80 { padding: 80px; }
.pad110 { padding: 110px; }

.fonbla { color: white; }
.fuengrisoscu { color: rgb(20, 20, 20); }

.bgblack { background-color: black; }
.bgwi { background-color: white; }

.textshadow { text-shadow:5px 5px 5px #000000; }

.filena { padding: 1px; margin: 7px; }
.visfile { border: 1px yellow solid; min-height: 600px; }

.rowcentered {
    text-align:center;
}
.colcentered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}